h3 {
  border-style: double;
  border-width: 1pc;
  border-color: bisque;
  text-align: center;
  padding: .5pc;
}

#form {
  width: 250px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -125px;
}

#navBar {
  text-align: center;
  
}

body {
  background-color: darkgray;
}