h3 {
  border-style: double;
  border-width: 1pc;
  border-color: bisque;
  text-align: center;
  padding: .5pc;
  color: whitesmoke;
}

#form {
  width: 300px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -150px;
}

#navBar {
  text-align: center;
  margin: auto;
  padding: .5%;

}

body {
 background-image: url("Fitness Zoom Virtual Background.jpg");
}

.h5 {
  color: whitesmoke;
}